<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${product.getNaam()}"></title>
</head>
<body>

<p th:text="${product.getNaam()}"></p>
<ul th:each="stap:${product.getStappenplan()}">

    <li th:text="${stap}"></li>


</ul>
<table >
<thead><tr><td>Ingredient</td><td><td>Hoeveelheid</td><td>Eenheid</td></tr></thead>

    <tr th:each="ing:${product.getRecept()}" ><td th:text="${ing.key.getNaam()}"></td><td th:text="${ing.value}"></td></tr>




</table>
</body>
</html>
