<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Product</title>
</head>
<body>
<nav>
    <button th:onclick="GoToProducts()">Products</button>
    <button th:onclick="GoToIngredients()">Ingredients</button>
    <button th:onclick="GoToBatches()">Batches</button>


</nav>
<form th:action="@{/products/create}" method="post" th:object="${product}">

<label>Name
  <input th:field="${product.name}" th:value="${product.name}"/>

</label>
    <h2>Bereidingswijze</h2>
    <ul th:each="stap, itemStat : ${product.steps}">
        <li ><input th:field="${product.steps[__${itemStat.index}__]}" th:value="${product.steps[__${itemStat.index}__]}" />
            <button type="submit" name="removeStep" th:value="${__${itemStat.index}__}">remove</button>

        </li>



    </ul>
    <button type="submit" name="stap" >Stap toevoegen</button>

    <h2>Samenstelling</h2>
    <table  >
        <tr th:each="ing, itemStat : ${product.composition}"  >

            <td   >
                <select th:field="${product.composition[__${itemStat.index}__]}" >
                    <option  th:value="${ig.getIngredientId()}" th:each="ig : ${alleIngredienten}" th:text="${ig.getName()}">



                    </option>


                </select>


            </td>
            <td
            ><input class="quantity" th:if="${product.amounts!=null}" th:field="${product.amounts[__${itemStat.index}__]}" th:value="${product.amounts.get(__${itemStat.index}__)}">



            <button type="submit" th:value="${__${itemStat.index}__}" th:name="removeIng">remove</button>
            </td>
        </tr>


    </table>

    <div><input hidden="hidden" th:field="${product.productId}" th:value="${product.productId}"/></div>
<button type="submit" th:if="${product.composition!=null||product.composition.size()!=alleIngredienten.size()}" name="addIng">addIngrediënt</button>
    <p th:if="${error!=null}" th:text="${error}" ></p>

    <button type="submit" >Opslaan</button>


</form>
<ul id="errorlist">
    <li th:each="err:${validationError}" th:text="${err}"></li>
</ul>


</body>

<script th:inline="javascript">



function GoToProducts(){


window.location.href= "/products";

}

function GoToIngredients(){


window.location.href= "/ingredienten";

}
function GoToBatches(){


window.location.href= "/batch";

}

document.addEventListener("submit",(ev)=>{

    for (let i = 0; i < document.getElementsByClassName("quantity").length; i++) {
        if(isNaN(document.getElementsByClassName("quantity")[i].value)){
            ev.preventDefault();

        }

    }

})
</script>
</html>
