<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Batch</title>
</head>
<body>

<table>

    <tr>  <th>Not yet prepared</th></tr>

<th:block th:if="${product.key.steps.size()>=3&&product.key.composition.size()>=2&&product.key.name.length()>=3}" th:each="product, itemStat : ${notYetPrepared.productsinBatch}">
<tr>
<td th:text="${product.key.name}"></td>
<td th:text="${product.value}"></td>
    </tr>
    <tr>
        <td th:if="${product.key.getSpecialInstruction()!=null&&product.key.getSpecialInstruction().length()>0}" th:text="${'Special request '+product.key.getSpecialInstruction()}"></td>

   </tr>

</th:block>




<tr th:if="${start}"><td><button th:attr="onclick=${' StartPreparing('+  notYetPrepared.getBatchId() +')'}">start preparation</button></td></tr>





</table>
<table th:each="batchInPreparation, itemStat : ${inPreparation}" th:if="${batchInPreparation.productsinBatch.size()!=0}">
    <tr>  <th>In preparation</th></tr>    <tr  th:each="product, itemStat : ${batchInPreparation.productsinBatch}">
        <td th:text="${product.key.name}"></td>
        <td th:text="${product.value}"></td>





    </tr>
<tr><td><button th:attr="onclick=${' BatchReady('+  batchInPreparation.getBatchId() +')'}">Products ready</button></td></tr>





</table>

<table>

    <tr>  <th> recepies not yet finished</th></tr>

    <tr th:if="${product.key.steps.size()<3||product.key.composition.size()<2&&product.key.name<2}" th:each="product, itemStat : ${notYetPrepared.productsinBatch}">

            <td th:text="${product.key.name}"></td>
            <td th:text="${product.value}"></td>

        <td  >
            <button th:attr="onclick=${' ToonBewerkPagina('+  product.key.getProductId() +')'}" >bewerken</button>
        </td>

    </tr>








</table>

</body>

<script th:inline="javascript">

    function StartPreparing(batchId){

        console.log(batchId)
        window.location.href="/batch/startpreparing/"+batchId;

    }

    function BatchReady(batchId){

        console.log(batchId)
        window.location.href="/batch/batchReady/"+batchId;

    }

    function ToonBewerkPagina(productId){

        window.location.href="/products/create/"+productId

    }

</script>


</html>
