<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${product.name}">Title</title>
</head>

<body>
<nav>
    <button th:onclick="GoToProducts()">Products</button>
    <button th:onclick="GoToIngredients()">Ingredients</button>
    <button th:onclick="GoToBatches()">Batches</button>


</nav>
<h1 th:text="${product.name}"></h1>
<ul><li th:each="step:${product.steps}" th:text="${step}"></li></ul>

<table>
    <tr th:each="ing,stat:${product.composition}">

        <td th:text="${ing.name}"></td>
        <td th:text="${product.amounts.get(__${stat.index}__)}"></td>



    </tr>

</table>
</body>
<script th:inline="javascript">
    function GoToProducts(){


        window.location.href= "/products";

    }

    function GoToIngredients(){


        window.location.href= "/ingredienten";

    }
    function GoToBatches(){


        window.location.href= "/batch";

    }
</script>
</html>
