<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${Ingredient.name}"></title>


</head>
<form th:object="${Ingredient}" action="#" th:action="@{/ingredienten/ingredient/update/__${IngredientId}__}" method="post">
    <label>Naam:
        <input th:field="${Ingredient}" th:value="${Ingredient}"/>
    </label>
    <label> Description:
        <textarea th:field="${Ingredient}" th:text="${Ingredient}"></textarea>
    </label>
    <button type="submit">
        Bewaren
    </button>
    <input type="submit"  th:formaction="'/ingredienten/ingredient/verwijderen/'+${Ingredient.productId}" formmethod="get" value="Verwijderen">
</form>
<body>

</body>

</html>
