<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title >Ingrediënten</title>
</head>
<body>
<table>
    <thead>
    <tr><td>Naam</td><td>Beschrijving</td></tr>

    </thead>
    <tbody>

    <tr  th:each="ingr,stat:${Ingredienten}" >
        <td th:id="tonen+${ingr.productId}">
            <table>
                <tr>
                <td th:text="${ingr.name}">
        </td>
                    <td th:text="${ingr.beschrijving}">

        </td>
<td>
          <button th:attr="onclick=${' Bewerken('+  ingr.productId +')'}">Bewerken</button>
        </td>
<td>
<button th:attr="onclick=${' Deleten('+  ingr.productId +')'}">Verwijderen</button>
</td>
                </tr>

            </table>
        </td>
<td>

</td>

                <!--

-->


    </tr>

    </tbody>

</table>

<button th:onClick="nieuwIng()">Nieuw Ingredient</button>
<form action="#" th:action="@{/ingredienten/ingredient/create} " id="nieuw" style="display: none" th:object="${nieuwIngredient}" method="post" >
    <label for="naam">Naam</label>
    <input id="naam" name="Naam" th:field="*{name}"/>
    <label for="beschrijving">beschrijving</label>
    <input id="beschrijving" name="Beschrijving"   th:field="*{beschrijving}"/>
    <button type="submit">Opslaan</button>
</form>
</body>
<script>

    function nieuwIng() {
        document.getElementById("nieuw").style.display="block";
    }

    function Bewerken( productId){
//https://www.baeldung.com/spring-thymeleaf-css-js

        window.location.href="/ingredienten/ingredient/"+productId;

    }

    function Deleten( productId){

        window.location.href="/ingredienten/ingredient/verwijderen/"+productId;

    }

</script>

</html>
