<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${Product.getNaam()?:'Nieuw Product'}"></title>
</head>
<body>

<form action="#" th:object="${Product}" th:action="@{'/producten/product/'+${Product.getProductId()!=null?Product.getProductId()+'/':''}+'bewerk' }" method="post">

    <label> Naam:
        <input th:field="${Product.naam}"/>
    </label>
    <p>Ingrediënten</p>
    <ul>
        <li th:each="stap,stat:${Product.stappenplan}" ><input th:field="${Product.stappenplan[__${stat.index}__]}"/></li>




    </ul>
    <label>
        <button type="submit" name="stap" value="toevoegen">Stap toevoegen</button>
        Samenstelling:



    </label>
<button type="submit">Opslaan</button>

</form>
