<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${Product.name?:'Nieuw Product'}"></title>
</head>
<body>

<form action="#" th:object="${Product}" th:action="@{'/producten/product/bewerk'+${Product.getProductId()!=null?'/'+Product.getProductId():''}}" method="post">




    <label> Naam:
        <input th:field="${Product.name}"/>
    </label>
    <p>Ingrediënten</p>
    <ul>
        <li th:each="stap,stat:${Product.stappenplan}" ><input th:field="${Product.stappenplan[__${stat.index}__]}"/></li>




    </ul>
    <label>
        <button type="submit" name="stap" value="toevoegen">Stap toevoegen</button>
        Samenstelling:




    </label>
    <table>
        <tr>
            <td th:each="ing,stat:${Product.samenstelling.entrySet()}" >

    <select th:each="pr:${Product.samenstelling}">
        <option th:each="ingr,stat:${ingredienten}" th:text="${ingr.name}" th:value="${ingr.getProductId()}">
            <!--th:field="${Product.samenstelling.get(__${ing.key}__)}"-->

        </option>

    </select>
           <!--     <input th:field="${Product.samenstelling.get(__${ing}__)}"/>-->
            </td>
        </tr>
    </table>

        <button th:if="${Product.getProductStatus()==T(kdg.be.Models.ProductState).Nieuw}" type="submit" name="finaliseer"     >product finaliseren</button>

    <button type="submit" name="deactiveer"

            >"product deactiveren"</button>


    <button type="submit">Opslaan</button>




</form>

    <script th:inline="javascript">
  function  DeactiveerProduct(productId){

      window.location.href="/producten/product/deactiveren/"+productId


    }

  function  FinaliseerProduct(productId){
      console.log(productId)
      window.location.href="/producten/product/finaliseer/"+productId



  }

</script>
