<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${Product.getNaam()?:'Nieuw Product'}"></title>
</head>
<body>

<form action="#" th:object="${Product}" th:action="@{'/producten/product/bewerk'+${Product.getProductId()!=null?'/'+Product.getProductId():''}}" method="post">

    <label> Naam:
        <input th:field="${Product.naam}"/>
    </label>
    <p>Ingrediënten</p>
    <ul>
        <li th:each="stap,stat:${Product.stappenplan}" ><input th:field="${Product.stappenplan[__${stat.index}__]}"/></li>




    </ul>
    <label>
        <button type="submit" name="stap" value="toevoegen">Stap toevoegen</button>
        Samenstelling:




    </label>
    <table>
        <tr>
            <td th:each="ing,stat:${Product.getSamenstelling()}">
    <select >
        <option th:each="ing,stat:${ingredienten}" th:text="${ing.getNaam()}">


        </option>

    </select>
                <input th:field="${Product.getSamenstelling().get(__${ing.value}__)}"/>
            </td>
        </tr>
    </table>
    <button th:if="${Product.getProductStatus()==T(kdg.be.Models.ProductStatus).Finaal}"

            th:attr="onclick=${' DeactiveerProduct('+  Product.getProductId() +')'}">Product deactiveren</button>

    <button th:if="${Product.getProductStatus()==T(kdg.be.Models.ProductStatus).Nieuw}"

            th:attr="onclick=${' FinaliseerProduct('+  Product.getProductId() +')'}">Product finaliseren</button>

    <button type="submit">Opslaan</button>




</form>
<script>

  function  DeactiveerProduct(productId){

      window.location.href="/producten/product/deactiveren/"+productId


    }

  function  FinaliseerProduct(productId){
      console.log(productId)
      window.location.href="/producten/product/finaliseer/"+productId



  }

</script>
